html, body {
  font-family: 'Source Code Pro', monospace;
  min-height: 100vh;
  width: 99%;
  display: flex;
  flex-direction: column;
}

#navbar {
  width: 100%;
}

#nav-name {
  color: #7793c9;
  font-size: 2em;
}

#nav-link-container {
  display: none;
  float: right;
}

.nav-link {
  font-size: 20px;
  color: #7793c9;
}

.dropdown {
  display: block;
  float: right;
}

.dropbtn {
 overflow: hidden;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner {
  background: #BBD5ED;
}

#banner {
  flex-direction: column;
}

.hidden {
  display: block;
}

#project-button-container {
  display: none;
}

.banner-name {
  font-size: 50px;
  text-align: center;
}

.banner-title {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

.banner-img {
  display: flex;
  align-content: center;
}

.banner-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 90px 90px;
  margin: 7px auto 0;
}

.header {
  font-size: 24px;
  color: #2C497F;
  font-weight: 600;
}

a {
  color: #7793c9;
  text-decoration: inherit;
}

.project-card {
  display: grid;
  background: #f2f2f2;
  width: 70%;
  height: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.1);
  margin: 20px auto;
}

.project-card:hover {
  opacity: .5;
}

.project-image {
  grid-column: 1;
  margin: auto 15px;
  width: 202px;
  height: 135px;
}

.project-image img{
  width: 100%;
  height: 100%;
}

.project-image:hover img {
  opacity: .5;
}

.project-textarea {
  grid-row: 1;
  grid-column: 2;
  font-weight: 800;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
}

.project-name {
  max-width: 100%;
  word-break: break-word;
  width: 100%;
}

.project-links {
  font-style: italic;
  font-weight: 400;
}

.project-description {
  font-weight: 400;
}

#footer {
  background: #BBD5ED;
  display: flex;
  justify-content: center;
  order: 4;
  margin-top: auto;
  width: 100%;
}

a:hover {
  cursor: pointer;
  color: #a0b4db;
}

@media (max-width: 500px) {
  body {
    width: 96%;
  }
  .project-card {
    width: 95%
  }

  .project-image {
    margin: auto 5px;
    width: 130px;
    height: 95px;
  }
}

@media (min-width: 900px) {

  #nav-link-container {
    display: block;
  }

  .nav-link {

    margin: 0px 8px;
  }

  .dropdown {
    display: none;
  }

  .banner {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    order: 2;
    width: 100%;
  }

  .banner-left {
    flex-basis: 30%;
    font-weight: 100;
    margin: auto 0;
  }

  .pill {
    flex-basis: 39%;
  }

  .banner-header {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  }

  .banner-right {
    display: block;
    flex-basis: 30%;
    font-weight: 100;
    margin: auto 0;
    }

  .banner-img {
    grid-column: 2;
  }

  .banner-name {
    grid-column: 2;
  }


  .banner-title {
    grid-column: 2;
    margin: 0 auto;
  }

  #project-wrapper {
    order: 3;
    position: relative;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .project-card {
    display: grid;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.1);
    margin: 0;
  }

  .project-image {
    grid-column: 1;
    margin: auto 15px;
    width: 135px;
    height: 100px;
  }

  .button {
    border: solid;
    align-self: center;
    font-size: 15px;
    padding: 20px 20px;
    background: #2C497F;
    color: white;
    grid-column: 1;
    border-radius: 30px 30px;
  }

  .button:hover {
    background: #526ea3;
    color: white;
  }

  .button:active {
    background: white;
    color: #7793c9;
  }


  .footer-link a {
    margin: 0px 6px;
  }
}
