html, body {
  font-family: 'Source Code Pro', monospace;
  min-height: 100vh;
  min-width: 100vh;
}

#nav-name {
  color: #7793c9;
  font-size: 2em;
}

.nav-link {
  font-size: 20px;
  color: #7793c9;
}

.banner {
  background: #BBD5ED;
}

.banner-name {
  font-size: 50px;
  text-align: center;
}

.banner-title {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

.banner-img {
  display: flex;
  align-content: center;
}

.banner-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 90px 90px;
  margin: 7px auto 0;
}

.header {
  font-size: 24px;
  color: #2C497F;
  font-weight: 600;
}

a {
  color: #7793c9;
  text-decoration: inherit;
}


@media (min-width: 800px) {
  html, body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 20px;
  }


  #navbar {
    display: flex;
    align-content: flex-end;
    order: 1;
    width: 100%;
  }

  #nav-name {
    margin-left: 8px;
  }

  a:hover {
    cursor: pointer;
    color: #a0b4db;
  }

  #nav-link-container {
    align-self: flex-end;
    position: absolute;
    right: 16px;
  }

  .nav-link {
    float: right;
    margin: 0px 8px;
  }

  .banner {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    order: 2;
    min-width: 100vh;
  }

  .banner-left {
    flex-basis: 33%;
    font-weight: 100;
    margin: auto 0;
  }

  .pill {
    flex-basis: 33%;
  }

  .banner-header {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  }

  .banner-right {
    display: block;
    flex-basis: 33%;
    font-weight: 100;
    margin: auto 0;
    }

  .banner-img {
    grid-column: 2;
  }

  .banner-name {
    grid-column: 2;
  }


  .banner-title {
    grid-column: 2;
    margin: 0 auto;
  }

  #project-wrapper {
    order: 3;
    display: grid;
    margin: 5px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #project-button-container {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .button {
    border: solid;
    align-self: center;
    margin: 0px auto;
    font-size: 15px;
    padding: 17px 68px 29px 39px;
    background: #2C497F;
    color: white;
    width: 52px;
    height: 44px;
    grid-column: 1;
  }

  .button:hover {
    background: #526ea3;
    color: white;
  }

  .button:active {
    background: white;
    color: #7793c9;
  }

  .offset {
    margin-left: 20px;
  }

  .onset {
    margin-right: 20px;
  }

  .hidden {
    visibility: hidden;
  }

  .des-one {
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    min-height: 100%;
  }

  .des-two {
    grid-column: 1;
    grid-row: 1;
    min-height: 100%;
    width: 100%;
  }

  .des-three {
    grid-column: 3;
    grid-row: 2;
    min-height: 100%;
    width: 100%;
  }

  .des-four {
    grid-column: 1;
    grid-row: 2;
    min-height: 100%;
    width: 100%;
  }

  .project-card {
    display: grid;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 150px 173px;
    grid-template-rows: 33px;
  }


  .project-image {
    grid-column: 1;
    margin: 0px 10px;
    width: 135px;
    height: 100px;
  }

  .project-image img{
    width: 100%;
    height: 100%;
  }

  .project-image:hover img {
    opacity: .5;
  }

  .project-textarea {
    grid-row: 1;
    grid-column: 2;
    font-weight: 800;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
  }

  .project-name {
    max-width: 100%;
    word-break: break-word;
    width: 100%;
  }

  .project-links {
    font-style: italic;
    font-weight: 400;
  }

  .project-description {
    font-weight: 400;
  }

  /* number one */
  .one {
    grid-row: auto;
    border-radius: 15px 45px 45px 32px;
  }

  /* number two */
  .two {
    grid-row: auto;
    border-radius: 45px 15px 32px 45px;
  }

  /* number three */
  .three {
    grid-row: auto;
    border-radius: 15px 45px 45px 32px;
  }

  /* number four */
  .four {
    grid-row: auto;
    border-radius: 45px 15px 32px 45px;
  }

  #footer {
    background: #BBD5ED;
    display: flex;
    order: 4;
    height: 40px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .footer-link-container {
    align-self: center;
  }

  .footer-link a {
    color: black;
    margin: 0px 6px;
  }

  .footer-link:hover a {
    color: #95989c;
  }
}

@media (max-width: 800px) {

  body {
    max-width: 100vh;
  }


  #banner {
    flex-direction: column;
  }

  .hidden {
    visibility: visible;
  }

  #project-button-container {
    display: none;
  }
/*
  #project-wrapper {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  } */

  /* .des-one {
    grid-column: 1 / 4;
    grid-row: 1;
    width: 100%;
    height: 100%;
  }

  .des-two {
    grid-column: 1 / 4;
    grid-row: 2;
    width: 100%;
    height: 100%;
  }

  .des-three {
    grid-column: 1 / 4;
    grid-row: 3;
    width: 100%;
    height: 100%;
  }

  .des-four {
    grid-column: 1 / 4;
    grid-row: 4;
    width: 100%;
    height: 100%;
  } */

}
